<!DOCTYPE html>
<html lang="en">
<head>
    <title>Website design</title>
    <!DOCTYPE html>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main">
        <div class="head">
            <span style="float: left;">
                <img src="..\images\Copilot_20250801_123535.png" alt="logo" width="8%" hight="auto" style="float: left;">
                        <ul>
                        <li><span class="logo-text">Mental Health</span></li>
                        </ul>
            </span>
            <span style="float: right;">
                <ul style="font-weight: bold;">
                <li ><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                </ul>
            </span>  
        </div>
    <div class="matter">
        <div style="margin-top: 3%; margin-left: 10%; margin-right: 10%">
            <div style="padding: 5%; font-size:80px;" class="logo-text">
                Your Safe Space to Talk, Track, and Heal
            </div>
        </div>
        <div style="margin-left: 15%; margin-right: 10%">
            <div style=" font-size:40px;" class="text">
                Access resources, share feelings anonymously, and and connect with peer mentors or counsellors.
            </div>
        </div>
    </div>
    <div class="foot">
        <p>&copy; 2025 Ayub Ansari.All rights reserved.</p>
    </div>
    </div>
</body>
</html>